<div>
  {{#if isSuccess}}
    <button
      class='btn btn-success text-white'
    >{{text}}</button>
  {{/if}}
  {{#if isDanger}}
    <button
      class='btn btn-danger text-white'
    >{{text}}</button>
  {{/if}}
  {{#if isInfo}}
    <button
      class='btn btn-info text-white'
    >{{text}}</button>
  {{/if}}
  {{#if isPrimary}}
    <button
      class='btn btn-primary text-white'
    >{{text}}</button>
  {{/if}}
  {{#if isOutline}}
    <button
      class='btn btn-outline-primary'
    >{{text}}</button>
  {{/if}}
</div>