<div class='pt-5'><hr style='border-width: 2px;' /></div>
<div class='ps-5'>
  <div class='row mt-5'>
    {{#each footer}}
      <div class='col-2'>
        {{#each this}}
          {{#if @last}}
            <ul class='nav p-0 m-0'>
              <li class='nav-item m-0 p-0'>
                <a
                  href='{{link}}'
                  class='nav-link disabled'
                >{{text}}</a>
              </li>
            </ul>
          {{else}}
            <ul class='nav p-0 m-0'>
              <li class='nav-item m-0 p-0'>
                <a
                  href='{{link}}'
                  class='nav-link'
                >{{text}}</a>
              </li>
            </ul>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>